@{
    ViewBag.Title = "Index";
}

<div ng-app="myApp">

    <div ng-controller="myCtrl" ng-init="GetAllData()" class="divList">

        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <b>City</b>
                </td>
                <td>
                    <b>Age</b>
                </td>
                <td>
                    <b>Actions</b>
                </td>
            </tr>
            <tr ng-repeat="Emp in employees">
                <td>
                    {{Emp.Emp_Id}}
                </td>
                <td>
                    {{Emp.Emp_Name}}
                </td>
                <td>
                    {{Emp.Emp_City}}
                </td>
                <td>
                    {{Emp.Emp_Age}}
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateEmp(Emp)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteEmp(Emp)" />
                </td>
            </tr>
        </table>
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <h3>
                        <span id="spn">Add New Employee</span>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Name:</label>
                            <div>
                                <input type="text" class="form-control" id="inputEmail" placeholder="Name" ng-model="EmpName">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">City:</label>
                            <div>
                                <input type="text" class="form-control" id="inputPassword" placeholder="City" ng-model="EmpCity">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Age:</label>
                            <div>
                                <input type="text" class="form-control" id="inputLabel3" placeholder="Age" ng-model="EmpAge">
                            </div>
                        </div>
                    </div>
                    <div class="col-3" style="padding-top:2em">
                        <input type="button" id="btnSave" class="form-control btn-space btn-primary" value="Submit" ng-click="InsertData()" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Hidden("EmpID_")

</div>  