@{
    ViewBag.Title = ViewBag.ServerTime;
}

<div class="@(string.IsNullOrEmpty(ViewBag.ErrorMessage)?"invisible":"alert alert-danger")" role="alert">
    @ViewBag.ErrorMessage
</div>

<div style="text-align:center">

    <h4>Thanks a lot to SOMEE.COM for the very nice Hosting!</h4>

    <h5>Have a successful 2020 year!</h5>

    <img alt="Somee.com" src="img/hosting.jpg" />

    <div style="font-family:'Monaco',monospace,'Lucida Console','Courier New'">
        @ViewBag.rest : @ViewBag.mono
    </div>

</div>