[ng-bind] {
    font-weight: bold;
}

[ng-controller] {
    border: solid 1px blue;
    border-radius: .5em;
    margin: .5em;
    padding: .5em;
}

[ng-controller]>div {
    margin: 1em;
}

simple-directive, [simple-directive], [complex-directive] {
    border: solid 1px blue;
    border-radius: .5em;
    margin: 1.5em;
    padding: 1em;
}