/* You can add global styles to this file, and also import other style files */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    background-color: rgb(240, 240, 240);
    border: 1px solid;
    margin-right: .5em;
    padding: .5em;
    text-decoration: none;
}

a.active {
    color: red;
    background-color: white;
}

h4 {
    padding-left: 1em;
    margin: 1em;
}

p {
    border: 1px solid;
    padding: .5em;
}

#app-wrapper {
    margin: 1em;
}