/* You can add global styles to this file, and also import other style files */

a {
    border: 1px solid;
    padding: .5em;
    margin-right: .5em;
    text-decoration: none;
}

a.active {
    color: red;
}

p {
    border: 1px solid;
    padding: .5em;
}

#app-wrapper {
    margin: 1em;
}