body {
    margin: 0 auto;
    max-width: 1076px;
    font-weight: 400;
    font-size: small;
}

.container {
margin: 0 auto;
}

.row {
    margin: 1em auto;
}

.row:hover {
    background-color: #caeefa;
}

.col-2, .col-3 {
    white-space: nowrap;
    text-align:center;
}

.table .col:nth-child(1) {
    color: cadetblue;
}

.table .col:nth-child(2) {
    color: limegreen;
}

.table .col:nth-child(3) {
    color: blue;
}

.delete {
    background-color:red;
}