<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="../../_CDN_LOCAL_/bootstrap-3.3.7.min.css" />
    <script src="../../_CDN_LOCAL_/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="jumbotron container" ng-app="myApp">
    <h3>List of Sale Items.</h3>

    <div ng-controller="NgController1 as ctrl">

        <div ng-repeat="ctrlItem in ctrl.items">

            <widget-directive item="ctrlItem" widget-text="Sale!" boo="ctrl.consoleInfo(current)">
            </widget-directive>

        </div>

    </div>

    <script type="text/javascript">
        angular
            .module('myApp', [])
            .controller('NgController1', [function () {
                var ngController1 = this;
                ngController1.items = [
                    { name: 'Computer', price: 500 },
                    { name: 'Phone', price: 200 },
                    { name: 'Dishwasher', price: 350 },
                ];
                ngController1.consoleInfo = function (itemName) {
                    console.log('Congrats! You have just bought a', itemName);
                };
            }])
            .directive('widgetDirective', [function () {
                return {
                    scope: {
                        item: '=', // TWO-WAY binding between a local scope property and an expression (in Widget & in Ctrl)
                        widgetText: '@', // bind a LOCAL SCOPE property TO THE VALUE (in Widget from Directive)
                        templateNgClick: '&boo' // o execute an expression in the context of the parent scope (in Widget from Controller via Template)
                        // abcd: '<' // ONE-WAY binding between a LOCAL SCOPE property and an EXPRESSION
                    },
                    template: [`<div>
                        {{item.name}} - {{item.price | currency}}
                        <button ng-click="templateNgClick({current:item.name})">Click me</button>
                        {{widgetText}}
                        </div>`
                    ],
                    // attributes: { item: "item", widgetText: "widget-text", boo: "boo" }
                    link: function (callScope, directiveDomElem, attributes) {
                        directiveDomElem.on('click', function () {
                            directiveDomElem.html('<div>Sold out.</div>')
                            directiveDomElem.css({ color: 'red' });
                        });
                    }
                }
            }]);

    </script>
</body>

</html>