p {
    background-color: lightcyan;
    margin: .3em;
}

::ng-deep p {
    background-color: rgb(240, 240, 240);
}

:host {
    display: block;
    background-color: rgb(199, 236, 205);
}

::ng-deep .blue {
    color: blue;
    font-weight: 600;
}

.green {
    color: green;
    font-weight: 600;
}

::ng-deep .grey {
    color: dimgray;
    font-weight: 600;
}