<p>
    I am a Parent Component.
    Transferring my data to child.

    <app-data-child>
        <!-- ng-content tag needed in child to get this text. -->
        <b>String 1 from Parent.</b>
    </app-data-child>

    <app-data-child>
        <b>String 2 from Parent.</b>
    </app-data-child>

    <app-data-child #selectedChildFIRST>
        <b>String 3 from Parent.</b>
    </app-data-child>

    <app-data-child #selectedChild_2>
        <b>String 4 from Parent.</b>
    </app-data-child>

    <app-data-child #selectedChild_2>
        <b>String 4 from Parent.</b>
    </app-data-child>

    &nbsp; <button (click)="switchOne()">1st Child</button>
    &nbsp; <button (click)="switchTwo()">1st Child by # (parent fn)</button>
    &nbsp; <button (click)="selectedChild_2.childsSwitchBg()">1st Ch. by # (child fn)</button>

</p>
<hr />
<p>
    <input type="text" #parentTextInput /> &nbsp;
    <input type="button" value="Take Inputs Focus" (click)="takeFocus()"/>&nbsp;
    - using <span class="blue"> @ViewChild</span> decorator.
</p>
