<p>
    I am a Parent Component.
    Transferring my data to child.

    <app-data-child #taggedChild>
        <!-- NG-CONTENT tag needed in child to get this text. -->
        <b>{{ text }}</b>
    </app-data-child>

    <app-data-child>
        <b #insideAppChildTag>{{ text }}</b>
    </app-data-child>

    <app-data-child #taggedChild>
        <b #insideAppChildTag>{{ text }}</b>
    </app-data-child>

    <app-data-child #taggedChild>
        <b>{{ text }}</b>
        <app-data-sub-child></app-data-sub-child>
        <app-data-sub-child></app-data-sub-child>
    </app-data-child>

    <button (click)="switchFirstChild()">1st Child (parent fn)</button>
    <button (click)="taggedChild.childSwitchMethod()">1st Child (child fn)</button>
    <button (click)="switchAllTaggedChildren()">All Children by #</button>
</p>
<hr />
<p>
    <input type="text" #inputForElementRef /> &nbsp;
    <input type="button" value="Take Inputs Focus" (click)="takeFocus()" />&nbsp;
    - using <span class="blue"> @ViewChild</span> decorator.

</p>
