<div>
    <h4>
        Application has reloaded
        <input type="radio" name="triple" [checked]="isChecked"> {{ counter }}
        <input type="radio" name="triple" [checked]="!isChecked"> seconds ago.
    </h4>

    <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Binds Routes</a>
        <a routerLink="/styles" routerLinkActive="active">Styles Inherit.</a>
        <a routerLink="/data" routerLinkActive="active">Data Pass.</a>
        <a routerLink="/services" routerLinkActive="active">Services</a>
        <a routerLink="/demo" routerLinkActive="active">Demo</a>
        <a routerLink="/rxjs" routerLinkActive="active">RxJS</a>
    </nav>

    <p>
        <router-outlet></router-outlet>
    </p>

</div>
