<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body NG-APP="ngAppModule">

    <div ng-controller="formatterController">

        <select ng-model="item">

            <option ng-repeat="item in collection" </select>

                <ul ng-repeat="item in collection | orderBy : 'name' | limitTo : 13 | filter :name "> {{name}}
                    <li>{{item.name}} ({{item.id}})</li>
                </ul>

    </div>

    <script src="../angular-1.7.9.min.js"></script>
    <script src="ng-orderby-limitto.js"></script>
</body>

</html>