body {
    margin: 1em auto;
    max-width: 700px;
    font-weight: 400;
    font-size: small;
}

table th, .table td {
    padding: .3em;
}

.col-2, .col-3 {
    white-space: nowrap;
    text-align: center;
}

.container {
}

.delete {
    background-color: red;
}

.hidden {
    display: none;
}

.row {
    margin: 1em auto;
}

    .row:hover {
        background-color: #caeefa;
    }

    .row .col {
        font-weight: 700;
    }

        .row .col:nth-child(1) {
            color: cadetblue;
        }

        .row .col:nth-child(2) {
            color: limegreen;
        }

        .row .col:nth-child(3) {
            color: blue;
        }

.table td:nth-child(1),
.table td:nth-child(2),
.table td:nth-child(6) {
    font-weight: 700;
}
