@page

<h1>AAA</h1>

<textarea name="message" id="message"></textarea>

<input type="button" id="sendMessage" value="Send Message"/>

<div id="messages"></div>

<script src="~/lib/signalr.js"></script>

<script src="~/js/message.js"></script>
