@page

<h1>AAA</h1>

<textarea name="message" id="message"></textarea>

<select id="group">
	<option value="All">Everyone</option>
	<option value="Myself">Myself</option>
</select>

<input type="button" id="sendMessage" value="Send Message"/>

<div id="messages"></div>

<script src="~/lib/signalr.js"></script>

<script src="~/js/message.js"></script>
