<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../_CDN_LOCAL_/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body NG-APP="ngAppModule">

    <div ng-controller="voteController">
        <div class="quest" ng-class="questColorClass" ng-mouseenter="changeClass($event)"
            ng-mouseleave="changeClass($event)">
            <h3>{{question.text}}</h3>
            <p><i>{{question.date}}</i></p>
        </div>
        <div class="answers">
            <div ng-repeat="answer in question.answers" class="answer">
                <div class="vote">
                    <a class="vote-up" ng-click="voteUp(answer)"></a>
                    <span class="rate">{{answer.rate}}</span>
                    <a class="vote-down" ng-click="voteDown(answer)"></a>
                </div>
                <b>{{answer.text}}</b>
                <p>{{answer.author}}</p>
                <p><i>{{answer.date}}</i></p>
            </div>
        </div>
    </div>
    <!-- 
    NG-BLUR - when focus lost
    NG-FOCUS - when element in focus
    NG-CHANGE - when element changed (clicked/selected/etc.)
    NG-SUBMIT - when form submitted
    NG-COPY/NG-CUT/NG-PASTE - ...
    NG-DBLCLICK - ...
    NG-MOUSEDOWn - mouse button down
    NG-MOUSEUP - mouse button up
    NG-MOUSEENTER - mouse cursor over an element
    NG-MOUSELEAVE - mouse cursor out of an element
    NG-MOUSEMOVE - when mouse moving
    NG-KEYDOWN - keyboard down
    NG-KEYPRESS - keyboard pressed
    NG-KEYUP - keyboard up -->
    <script src="../../_CDN_LOCAL_/angular.min.js"></script>
    <script src="voteController.js"></script>
</body>

</html>