<!doctype html>
<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="../bootstrap-3.3.7.min.css" />
    <script src="../angular-1.7.9.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="jumbotron container">

    <div ng-controller="ParentController">
        <h4>Parent Controller :</h4>

        <div ng-controller="ChildController1">
            <span>Child Controller 1 :</span>
            <button ng-click="someFunction()">Use Parent Function</button>
        </div>
        <div ng-controller="ChildController2">
            <span>Child Controller 2 :</span>
            <button ng-click="someFunction()">Override Parent Function</button>
        </div>
    </div>
    <hr>
    <input id="target" type="text">

    <script type="text/javascript">
        const targetInput = document.querySelector('#target');
        var app = angular.module('myApp', []);

        app.controller('ParentController', function ($scope) {
            $scope.someFunction = function () {
                targetInput.value = 'Defined in ParentController';
            };
        });

        app.controller('ChildController1', function ($scope) {
            // Use Parent someFunction()
        });

        app.controller('ChildController2', function ($scope) {
            // Override Parent someFunction()
            $scope.someFunction = function () {
                targetInput.value = 'Defined in ChildController2';
            };
        });
    </script>
</body>

</html>